- var appLogo = process.env.APPLOGO || ''
- var appName = process.env.APPNAME || ''

p Dear #{fullName},

p You've requested restore your password!

p Please follow the link below to set your new password:

br

a(href=link style='\
  font-family: Arial;\
  width: 176px; height: 52px; background: #20296B; border-radius: 8px; \
  text-align: center;\
  letter-spacing: -0.01em;\
  outline: none;\
  text-decoration: none;\
  color: #FFFFFF; display: block; line-height: 52px; \
  margin: 32px 0;')
 | Restore

br
              
p If you didn't request restore password, please disregard this message.

br
br

div(style="display:flex;")
 img(src=appLogo  alt=appName width="88" height="88" style="margin: 0; border: 0; padding: 0; vertical-align:middle;")
 span &copy; #{(new Date()).getFullYear()} 
 | The #{appName} #{supportPhone? `Support Team, phone: ${supportPhone}`:'Support Team'}

